<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div>
    <form role="form" action="/students/new" th:object="${studentForm}" method="post">
        <div class="form-group">
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}">Incorrect date</p>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{birth}" placeholder="생년월일을 입력하세요">
        </div>
        <div class="form-group">
            <input type="text" th:field="*{address}" placeholder="주소를 입력하세요">
        </div>
        <div class="form-group">
            <input type="text" th:field="*{phone}" placeholder="번호를 입력하세요">
        </div>
        <div class="form-group">
            <input type="text" th:field="*{school}" placeholder="학교를 입력하세요">
        </div>
        <div class="form-group">
            <input type="text" th:field="*{grade}" placeholder="학년 입력하세요">
        </div>
        <div class="form-group">
            <input type="text" th:field="*{schoolClass}" placeholder="반 입력하세요">
        </div>
        <div class="form-group">
            <input type="text" th:field="*{description}" placeholder="기타 사항을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
</div>
</body>
</html>